/* google font link */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.inter {
  font-family: "Inter", sans-serif;
}

.manrope {
  font-family: "Manrope", sans-serif;
}

/* reset element style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heading {
  font-size: 52px;
  font-weight: 700;
  line-height: 70px;
  color: rgb(58, 58, 58);
  font-family: "Poppins", sans-serif;
}

.base-font {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: rgb(58, 58, 58);
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1200px;
  box-sizing: border-box;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}

.btn {
  padding: 10px 24px;
  border-radius: 41px;
  color: white;
  display: inline-block;
  text-decoration: none;
  background: rgb(224, 44, 109);
}

/* header style */
.header-section {
  margin-top: 50px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
  gap: 34px;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  list-style: none;
}

.nav-link a {
  color: rgb(58, 58, 58);
  text-decoration: none;
}

nav h3 {
  font-size: 24px;
  font-weight: 700;
  color: rgb(58, 58, 58);
  font-family: "Poppins", sans-serif;
}

/* banner style */
.banner {
  padding: 33px 0;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner-content {
  width: 582px;
}

.banner-content p {
  margin: 16px auto;
}

.banner-img {
  width: 475px;
  height: 475px;
  background-image: url("../images/Circle\ design.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-img img {
  width: 440px;
}

/* main-section */
.main-section {
  margin: 70px auto;
}

.sponsor-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 35px 60px;
  border-top: 1px solid rgb(218, 225, 233);
  border-bottom: 1px solid rgb(218, 225, 233);
}

/* responsive style */
@media screen and (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 4px;
  }

  /* nav responsive style */
  nav {
    margin-bottom: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  ul {
    display: none;
  }

  /* banner responsive style */
  .banner {
    margin: 0;
    padding: 0;
    flex-direction: column-reverse;
  }

  .banner-img {
    width: 95%;
    margin: 0;
    padding: 0;
    background-size: contain;
  }

  .banner-img img {
    padding: 20px;
    max-width: 100%;
    max-height: auto;
  }

  .banner-content {
    margin: 0;
    padding: 0;
    max-width: 95%;
    text-align: center;
  }

  .heading {
    font-size: 40px;
  }

  /* sponsor responsive style */
  .sponsor-section {
    gap: 10px;
    width: 95%;
    padding: 15px;
    flex-wrap: wrap;
  }
}

/* popular section style */
.popular-section {
  margin-top: 100px;
}
.products {
  gap: 30px;
  display: grid;
  box-sizing: border-box;
  grid-template-columns: repeat(3, 1fr);
}

.popular-section h3 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 40px;
  color: rgb(58, 58, 58);
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.card {
  border-radius: 5px;
  padding: 20px;
  background: rgb(255, 255, 255);
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.card img {
  width: 100%;
  border-radius: 5px;
}

.card-content {
  margin-top: 24px;
}
.card h4 {
  font-size: 28px;
  font-weight: 500;
  color: rgb(24, 25, 31);
  font-family: "Poppins", sans-serif;
}

.price {
  font-size: 24px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 16px;
  color: rgba(0, 0, 0, 0.87);
  font-family: "Inter", sans-serif;
}

.ratting,
.card-description {
  font-size: 14px;
  font-weight: 700;
  margin-top: 10px;
  line-height: 143%;
  color: rgb(120, 120, 133);
  font-family: "Inter", sans-serif;
}

.ratting i {
  color: rgb(251, 130, 0);
}

.card-description {
  margin-bottom: 20px;
  width: 196px;
}

.see-more {
  font-size: 16px;
  font-weight: 700;
  margin-top: 50px;
  text-align: right;
  font-family: "Inter", sans-serif;
  color: rgba(224, 44, 109, 0.87);
}

.see-more i {
  margin-left: 8px;
}

/* popular section responsive style */
@media screen and (max-width: 576px) {
  .popular-section {
    width: 95%;
  }

  .products {
    align-items: center;
    grid-template-columns: repeat(1, 1fr);
  }

  .card {
    width: 95%;
    margin: 0 auto;
  }
}

/* features-section style */
.features-section {
  margin-top: 100px;
  display: flex;
  gap: 96px;
  align-items: center;
}

.feature-title {
  font-size: 38px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  color: rgb(10, 8, 38);
}
.feature-description {
  width: 501px;
  font-size: 16px;
  font-weight: 700;
  margin: 16px 0;
  color: rgb(108, 108, 108);
  font-family: "Poppins", sans-serif;
}
.feature-btn {
  font-size: 16px;
  font-weight: 700;
  border-radius: 1px;
  font-family: "Poppins", sans-serif;
}

.features-img img {
  border-radius: 7px;
}
